<div class="main-content">
    <div class="container-fluid">
        <div class="row">
                 <div class="card">
                    <div class="col-md-4 img-bg" align="center">
                        <img class="avatar border-gray" src="../../assets/img/profile-img.jpg" alt="...">
                        <h5>Kelsey Kjeldsen</h5>
                        <p>Creator, Sports Geek, Developer</p>
                    </div>
                    <div class="col-md-8">
                        <h4>Why Build Droppin' Dimes?</h4>
                        <p>I built this application as a way to help expand my development skills, while also showing how much NBA players make in comparison to their skills.
                          It is no shock that NBA players make tons of cash, but it is interesting to see how much they make per game or per shot. The purpose of Droppin' Dimes 
                          is to visualize NBA salaries in a fun and unique way.
                        </p>
                    </div>
                 </div>
              <div class="col-md-12">
                  <h4>How was it built?</h4>
                     <p> Droppin Dimes is built with AngularJS and Bootstrap. The data is from the Stattleship API and then analyzed to create the proper comparisons.
                       I am always interested in feedback and ideas, so shoot me an email with your thoughts <span>kelsey.kjeldsen@gmail.com</span>.
                    </p>
                </div>
          </div>
    </div>
</div>